.best {
	background-image: url('../img/best-section/img-bg.jpg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	@include tablets {
		background-image: url('../img/best-section/img-bg-tablets.jpg');
	}
}

.best .section__title {
	margin-bottom: rem(50px);
}