.order {
	background-image: url('../img/order-section/img-bg.jpg');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	.section__title {
		margin-bottom: rem(45px);
	}
}