.side-navigation {
	position: fixed;
	right: rem(45px);
	top: rem(90px);
	@include tablets {
		display: none;
	}
}

.side-navigation__list {

}

.side-navigation__item {
	display: block;
	width: rem(16px);
	height: rem(16px);
	position: relative;
	margin-bottom: rem(5px);
	cursor: pointer;
	&:after {
		content: '';
		display: block;
		width: rem(6px);
		height: rem(6px);
		background-color: $white;
		border-radius: 50%;
		@include center-abs(both);
	}
	&:hover {
		.side-navigation__link {
			width: rem(16px);
			height: rem(16px);
		}
	}
}

.side-navigation__item--active {
	.side-navigation__link {
		width: rem(16px);
		height: rem(16px);
	}
}

.side-navigation__link {
	display: block;
	z-index: 2;
	border: 1px solid $white;
	width: rem(6px);
	height: rem(6px);
	border-radius: 50%;
	transition: .4s;
	@include center-abs(both);
}